[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/probberechts/hexo-theme-cactus.git
[submodule "themes/hexo-theme-next"]
	path = themes/hexo-theme-next
	url = https://github.com/next-theme/hexo-theme-next.git
